<div class="card" name="signin">
  <user-menu class="pull-right"></user-menu>

  <h3 class="card-heading">
    Account
  </h3>

  <h4>{{user.name}}</h4>
  <table class="table table-condensed">
    <tbody>
      <tr>
        <th>ID</th>
        <td>{{user._id}}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <th>Joined</th>
        <td>{{user.created | date:'mediumDate'}}</td>
      </tr>
      <tr>
        <th>Updated</th>
        <td>{{user.modified | date: 'mediumDate'}}</td>
      </tr>
    </tbody>
  </table>

  <p><small>Not {{user.email}}? <a ng-click="logout()">Logout</a></small></p>
</div>

