<form class="form-signin">
  <h2 class="form-signin-heading">Authorize</h2>

  <p>APPLICATION X wants to</p>
  <table class="table table-condensed table-hover">
    <tr>
      <td>access your profile</td>
      <td><i class="icon-check"></i></td>
    </tr>
    <tr>
      <td>eat your tweets</td>
      <td><i class="icon-check"></i></td>
    </tr>
  </table>

  <button class="btn btn-medium btn-primary" type="submit">Allow</button>
  <button class="btn btn-medium btn-primary" type="submit">Deny</button>
</form>