<form class="form-signin clearfix">
  <h3 class="form-signin-heading">Authorize</h3>

  <p><small><a href="#">{{user.email}}</a></small></p>

  <p><strong><em>{{client.name}}</em> wants to ...</strong></p>

  <table class="table table-condensed table-hover">
    <tr ng-repeat="item in scope">
      <td>{{item.description}}</td>
      <td><i class="icon-check"></i></td>      
    </tr>
  </table>

  <p class="text-center"><strong>Are you cool with that?</strong></p>

  <div class="text-center">
    <button class="btn btn-medium btn-primary" type="submit">Allow</button>
    <button class="btn btn-medium btn-primary" type="submit">Deny</button>
    <br><br>
    <p><small>Not {{user.email}}? <a ng-click="logout()">Logout</a></small></p>
  </div>
</form>