<form class="form-signin">
  <h2 class="form-signin-heading">Sign up</h2>
  <input type="text" class="input-block-level" placeholder="First name">
  <input type="text" class="input-block-level" placeholder="Last name">
  <input type="text" class="input-block-level" placeholder="Username">
  <input type="text" class="input-block-level" placeholder="Email">
  <input type="password" class="input-block-level" placeholder="Password">
  <button class="btn btn-medium btn-primary" type="submit">Sign up</button>
</form>